@charset "UTF-8";


.green {
	color: #82bf37;
}

.heading {
	font-size: 1.5em;
	font-weight: 800;
}
.vsText {
	margin: 20px;
}
.orange > a {
	color: #e86e2f !important;
}
.green > a {
	color: #60AA3E !important;
}
.pink > a {
	color: #DB2365 !important;
}
.purp > a {
	color: #8228BF !important;
}
.blue > a {
	color: #54A4D2 !important;
}
.aqua > a {
	color: #01B499 !important;
}
.white {
	color: #fff;
}
/*overwriting the custom css from the main site- want the main nav to align left*/
.nav-leftside-custom {
    text-align: left;
	
}
.nav-leftside-custom a {
    font-size: 12px;
}

.vs-nav-goal > a {
    font-weight: 700;
}

.vs-nav-vital-indicator > a {
	margin-left: 20px;
}
/*overwrites bootstrap*/
.nav > li > a {
    position: relative;
    display: block;
    padding: 3px 5px;
}
.nav-leftside-custom .subLeftNav a {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*overwrite rule in bootstrap to compress vital nav vertically*/
hr {    
	margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}


.heading {
    font-size: 1em;
    font-weight: 800;
	margin-top:20px;
}
